html, body {
  font-size: 14px;
}

body {
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 10px 0;
  font-family: 'PT Serif', serif;
}
body * {
  box-sizing: border-box;
}
body #body-wrapper {
  min-height: 800px;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #EEE;
	background: #ce0f0f;
  color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
header .header-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
header .logo {
  position: relative;
  color: #EEE;
  text-decoration: none;
  font-size: 26px;
  line-height: 50px;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}

footer {
  padding: 20px 0;
  text-align: center;
}




.game-summary
{
	position: relative;
	display: block;

	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;

	background: #FFF;
	
	text-decoration: none;
	color: black;
	
	transition: 0.15s;
}

	.game-summary .game-link
	{
		position: absolute;

		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
	}

	.game-summary .game-link:hover
	{
		background: rgba(206, 15, 15, 0.05);
	}

.game-summary table
{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.game-summary table th,
.game-summary table td
{
	padding: 6px 0;
	border: 1px solid #DDD;
	text-align: center;
}

.game-summary table .team-info,
.game-summary table .status
{
	padding-left: 5px;
	padding-right: 7px;
	border-right: 3px solid #DDD;
	text-align: left;
	font-weight: bold;
	line-height: 29px;
}

.game-summary table .team-info .team-name
{
	display: inline-block;
}

.game-summary table .runs,
.game-summary table .hits,
.game-summary table .errors
{
	font-weight: bold;
	width: 40px;
}

.game-summary table .runs
{
	border-left: 3px solid #DDD;
}

.game-summary table .inning
{
	width: 40px;
}

.game-summary .error
{
	text-align: center;
	font-size: 1.5em;
}

@media all and (max-width: 1200px)
{
	.game-summary table .team-info .team-name
	{
		display: none;
	}
}

@media all and (max-width: 800px)
{
	.game-summary table .team-info .team-name
	{
		display: inline-block;
	}
}

@media all and (max-width: 600px)
{
	
	.game-summary table .team-info .team-name
	{
		display: none;
	}
}