@font-face
{
	font-family: 'bebas';
	font-weight: 700;
	font-style: normal;
	src: url('fonts/bebasneue_bold-webfont.woff2') format('woff2'), url('fonts/bebasneue_bold-webfont.woff') format('woff');
}

@font-face
{
	font-family: 'bebas';
	font-weight: 300;
	font-style: normal;
	src: url('fonts/bebasneue_book-webfont.woff2') format('woff2'), url('fonts/bebasneue_book-webfont.woff') format('woff');
}

@font-face
{
	font-family: 'bebas';
	font-weight: 200;
	font-style: normal;
	src: url('fonts/bebasneue_light-webfont.woff2') format('woff2'), url('fonts/bebasneue_light-webfont.woff') format('woff');
}

@font-face
{
	font-family: 'bebas';
	font-weight: 400;
	font-style: normal;
	src: url('fonts/bebasneue_regular-webfont.woff2') format('woff2'), url('fonts/bebasneue_regular-webfont.woff') format('woff');
}

@font-face
{
	font-family: 'bebas';
	font-weight: 100;
	font-style: normal;
	src: url('fonts/bebasneue_thin-webfont.woff2') format('woff2'), url('fonts/bebasneue_thin-webfont.woff') format('woff');
}

html,
body
{
	font-size: 16px;
}

html
{
	overflow-y: scroll;
}

a
{
	text-decoration: none;

	color: blue;
}

a:hover
{
	text-decoration: underline;
}

body
{
	box-sizing: border-box;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 60px 10px 0;

	font-family: 'bebas', sans-serif;
}

body *
{
	box-sizing: border-box;
}

body #body-wrapper
{
	min-height: 600px;

	opacity: 0;
}

html.ready body #body-wrapper
{
	opacity: 1;
}

header
{
	position: fixed;
	z-index: 100;
	overflow: hidden;

	top: 0;
	left: 0;
	width: 100%;
	height: 50px;

	transition: 0.25s;

	color: #fff;
	background: #eee;
	background: #ce0f0f;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header .expand-links
{
	display: none;
}

header .menu-trigger
{
	position: absolute;

	top: 0;
	left: 0;
	width: 60px;
	height: 100%;

	text-align: center;

	border-right: 1px solid white;

	font-size: 25px;
	line-height: 50px;
}

header .menu-trigger:hover
{
	background: rgba(255, 255, 255, 0.15);
}

.side-menu
{
	position: fixed;
	z-index: 99999;
	overflow: auto;

	top: 50px;
	left: 0;
	width: 80vw;
	max-width: 400px;
	height: calc(100vh - 50px);

	transition: 0.25s;
	transform: translateX(-125%);

	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

html.side-menu-open
{
	overflow: hidden;
}

html.side-menu-open .side-menu
{
	transform: translateX(0);
}

.side-menu a
{
	position: relative;
	display: block;

	width: 100%;
	padding: 20px;

	text-decoration: none;

	color: black;
	border-bottom: 1px solid black;

	font-size: 1.5rem;
}

.side-menu .patreon-goals
{
	position: absolute;
	display: none;

	bottom: 0;
	width: 100%;
}

.side-menu .patreon-goals a
{
	border: 0;

	font-size: 1rem;
}

.side-menu .patreon-goals a:hover
{
	background: transparent;
}

.side-menu a i
{
	margin-right: 16px;
}

.side-menu a:hover
{
	background: rgba(0, 0, 0, 0.1);
}

html.side-menu-open #body-wrapper
{
	pointer-events: none;
}

header .header-content
{
	width: 100%;
	padding: 0 20px;

	text-align: center;
}

select
{
	height: 20px;

	color: white;
	border: 1px solid rgba(0, 0, 0, 0.25);
	background: #ce0f0f;
}

select option
{
	background: rgb(206, 15, 15);
}

header .logo
{
	position: absolute;

	left: 50%;

	transform: translateX(-50%);
	text-align: center;
	text-decoration: none;

	color: #eee;

	font-family: "bebas", sans-serif;
	font-size: 26px;
	line-height: 50px;
}

header .links,
header .expand-links
{
	position: relative;
	float: right;
}

header .links a,
header .expand-links i
{
	height: 50px;
	margin-left: 20px;

	text-decoration: none;

	color: white;

	line-height: 50px;
}

header .expand-links i
{
	cursor: pointer;

	font-size: 26px;
}

footer
{
	padding: 20px 0;

	text-align: center;
}

.loading-spinner
{
	position: fixed;
	z-index: 999;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	transition: background 0.25s;
	pointer-events: none;

	opacity: 0;
}

.loading-spinner img
{
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translateX(-50%) translateY(-50%);
}

.loading .loading-spinner
{
	pointer-events: auto;

	opacity: 1;
}

.game-summary
{
	position: relative;
	display: block;

	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;

	transition: 0.15s;
	text-decoration: none;

	color: black;
	background: #fff;
}

.game-summary .game-link
{
	position: absolute;

	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
}

.game-summary .game-link:hover
{
	background: rgba(206, 15, 15, 0.05);
}

.game-summary table
{
	width: 100%;

	border-spacing: 0;

	border-collapse: collapse;
}

.game-summary table th,
.game-summary table td
{
	padding: 6px 0;

	text-align: center;

	border: 1px solid #ddd;
}

.game-summary table tr:first-child td
{
	background-color: #f5f5f5;
}

.game-summary table .team-info,
.game-summary table .status
{
	padding-right: 7px;
	padding-left: 5px;

	text-align: left;
	white-space: nowrap;

	border-right: 3px solid #ddd;

	font-weight: bold;
	line-height: 29px;
}

.game-summary table .team-info .team-name
{
	display: inline-flex;

	width: calc(100% - 50px);
}

.game-summary table .team-info .team-name .team-name-wrap
{
	flex: 1 0;
}

.game-summary table .team-info .team-name .probable-pitcher
{
	font-weight: normal;
}

.game-summary table .runs,
.game-summary table .hits,
.game-summary table .errors
{
	width: 40px;

	font-weight: bold;
}

.game-summary table .runs
{
	border-left: 3px solid #ddd;
}

.game-summary table .inning
{
	width: 40px;
}

.error
{
	text-align: center;

	font-size: 1.5em;
}

.settings
{
	margin: 1rem 0;
}

.settings .day-nav
{
	justify-content: flex-start;

	font-size: 1.5rem;
	-ms-flex: 1 0;
	-webkit-flex: 1 0;
	flex: 1 0;
}

.settings .day-nav a
{
	margin: 0 10px;

	color: #ce0f0f;
}

.settings .tools
{
	align-items: center;
	justify-content: center;

	text-align: center;
}

.settings .tools .hide-scores
{
	margin-left: 20px;
}

.patreon-goals
{
	width: 300px;
	margin: 20px auto 0;
}

.patreon-goals img
{
	max-width: 100%;
	height: auto;
}

.patreon-goals a
{
	color: black;
}

.patreon-goals a:hover
{
	text-decoration: none;
}

.patreon-goals p
{
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	margin: 0;

	text-align: center;
	white-space: nowrap;

	font-weight: bold;
	line-height: 30px;
}

.patreon-goals .bar
{
	position: relative;
	overflow: hidden;

	height: 30px;
	margin: 10px 0;

	border-radius: 15px;
	background: #eee;
}

.patreon-goals .bar .width
{
	height: 100%;

	background: #e6461a;
}

@media all and (max-height: 800px)
{
	.side-menu .patreon-goals
	{
		display: block;
	}
}

@media all and (max-width: 800px)
{
	.settings
	{
		text-align: center;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.settings .day-nav
	{
		width: 100%;
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
	}

	.settings .tools
	{
		width: 100%;
	}

	.backers-wrapper h1
	{
		flex-wrap: wrap;
	}

	.backers-wrapper a
	{
		width: 100%;
	}
}

.empty
{
	position: relative;

	padding: 50px 0;

	text-align: center;
	-webkit-flex: 1 0;
	-ms-flex: 1 0;
	flex: 1 0;
}

.loading .empty
{
	display: none;
}

@media all and (max-width: 600px)
{
	header .logo
	{
		right: 20px;
		left: auto;

		transform: none;

		font-size: 20px;
	}

	.backers-wrapper > .team-sponsors > .team-sponsor-team
	{
		width: 50%;
	}

	html,
	body
	{
		font-size: 12px;
	}
}