.gameWrapper
{
	min-height: 100vh;
	width: 100%;
}

.tabs
{
	position: fixed;
	top: 0;
	left: 15vw;
	right: 0;
	background: white;
	border-bottom: 1px solid #EEE;
	z-index: 9;
	height: 56px;
}

.root
{
	position: fixed;
	bottom: 0;
	left: 15vw;
	z-index: 999;
	right: 0;
	border-top: 1px solid #EEE;

	:global(.r-medium) &
	{
		left: 0;
	}
}

.content
{
	flex: 1 0;
	padding-bottom: 5rem;

	:global(html:not(.r-medium)) &
	{
		padding-top: 3.5rem;
	}
}

.upsellMenu
{
	transform: translateX(-50%) !important;
}

.dialog
{
	overflow: visible;
}

.progressBar
{
	position: absolute;
	top: 7px !important;
	right: 7px !important;
	left: auto !important;
	transition-duration: 1s;
	padding: 3px 3px 0 3px;
	z-index: 50;

	&.mobile
	{
		background: white !important;
		border-radius: 50%;
		position: fixed;
		bottom: 67px !important;
		top: auto !important;
		left: 7px !important;
		right: auto !important;
		box-shadow: 2px 0 5px rgba(0,0,0,0.3);
	}

	.innerNumber
	{
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		width: 44px;
		height: 43px;
		align-items: center;
		text-align: center;
		justify-content: center;
	}
}

.progressBarNoAnim
{
	transition-duration: 0s !important;
}