@import "../../styles/vars";

.wrapper
{
	max-width: 1000px;
	margin: 0 auto;
	padding: 2rem 2rem 5rem 32px;
}

.progress
{
	margin: 0 auto;
}

.title
{
	margin-bottom: 3rem !important;
}

.wrap
{
	p:first-of-type
	{
		display: none;
	}

	p
	{
		line-height: 2rem;
	}

	a
	{
		color: $color-accent;
	}
}