
<div class="backers-wrapper">
	<template v-if="showBackers">
		<div class="premium-sponsors">
			<h1>
				<span>Premium Sponsors</span>

				<a class="become" href="https://www.patreon.com/bePatron?u=5206592" target="_blank">
					Become a premium sponsor
				</a>
			</h1>
			<div class="backers">
				<premium-sponsor v-for="premiumSponsor in premiumSponsors" v-bind:premium-sponsor="premiumSponsor"></premium-sponsor>
			</div>
			<span v-if="premiumSponsors.length === 0">
				No backers yet.
			</span>
		</div>
		<div class="team-sponsors">
			<h1>
				<span>Fans</span>

				<a class="become" href="https://www.patreon.com/bePatron?u=5206592" target="_blank">
					Become a fan backer
				</a>
			</h1>

			<team-sponsor v-for="teamSponsor in teamSponsors" v-bind:team-sponsor-team="teamSponsor"></team-sponsor>

			<span v-if="Object.keys(teamSponsors).length === 0">
				No premium backers yet.
			</span>
		</div>
	</template>
</div>