
<div class="news-wrapper">
	<div class="news-item" v-for="item in rssItems" v-bind:data-domain="getDomain(item)" v-if="item.link.length > 0">
		<div class="icon"></div>
		<div class="text">
			<a v-bind:href="item.link" target="blank">{{item.title}}</a>
			<div class="about">{{getDate(item)}}</div>
		</div>
	</div>
</div>