@using System.Web.Optimization

@{
	Layout = "~/Shared/Views/_Layout.cshtml";
	ViewBag.BodyClass += " GameList ";
}

@{ 
	Html.RenderPartial("Components/_GameSummary");
	Html.RenderPartial("Components/_Highlight");
	Html.RenderPartial("Components/_Backers");
	Html.RenderPartial("Components/_BoxScore");
}

<div class="settings flex" v-if="showingGameList">
	<div class="day-nav">
		<a v-bind:href="getUrlDayBefore(date)">
			<i class="fa fa-chevron-circle-left"></i>
		</a>
		<input type="text" id="calendarpicker" v-bind:value="getFriendlyDate(date)" v-bind:size="getFriendlyDate(date).length + 1" />
		<i class="fa fa-calendar" aria-hidden="true"></i>
		<a v-bind:href="getUrlDayAfter(date)">
			<i class="fa fa-chevron-circle-right"></i>
		</a>
	</div>

	<div class="tools flex">
		<select id="favorite-team" v-on:change="setFavoriteTeam">
			<option>- Select Favorite Team -</option>
			
			<option v-for="(teamName, teamCode) in teams" v-bind:value="teamCode" v-bind:selected="isFavoriteTeam(teamCode)">{{teamName}}</option>
		</select>
		<div class="hide-scores">
			<input type="checkbox" id="scoreshidden" v-on:change="onChangeHideScores" v-bind:checked="hideScores" />
			<label for="scoreshidden">Hide Scores</label>
		</div>
	</div>
</div>


@Html.Partial("_game_list")

@Html.Partial("_game_detail")

@Html.Partial("_backers")

@Html.Partial("_news")



<template id="mlb-update">
	<h2>Dear users -</h2>
	<p>Recently, MLB reached out to me about some aspects of the site that constituted unauthorized usage of content owned by Major&nbsp;League&nbsp;Baseball. 
		In an effort to comply with their terms, but also keep the site running as a simple way to access MLB's baseball highlights, I have made some changes 
		to the site.
	</p>
	
	<p>
		I have <strong>removed team logos from the entire site</strong>, as those are distinctive and copyrighted images that require authorization to display. 
		Instead, you will see stylized textual team names displayed in the team's colors.
	</p>
	
	<p>
		Additionally, MLB took issue with the embedded video players showing highlights. I have <strong>changed the video players to open to the video's direct link at MLB.com</strong> rather
		than playing in an embedded player. Hopefully this still enables you to easily find videos, while complying with MLB's request to stop displaying videos on 
		the site.
	</p>
	
	<p>
		Lastly, due to the effect the changes would have on the functionality and usefulness of the app, I have <strong>unpublished it from the app store</strong>
		indefinitely. There may come a time when I can determine an effective way to reintroduce the app as a useful product that also complies with MLB's guidelines,
		but I am unsure. You all will be notified if that becomes a possibility.
	</p>
	
	<p>
		Baseball Theater is something I made to help me watch baseball highlights, because baseball is awesome. It's not always possible to do something like this
		while making everyone happy. I know this change represents an inconvenience to some of you, but I hope you can understand that sometimes a compromise is in
		order.
	</p>
	
	<p>Thank you all for your support, and Go Cubs.</p>
	<h2>- Jake</h2>
</template>