@using System.Web.Optimization

@{
	Layout = "~/Shared/Views/_Layout.cshtml";
	ViewBag.BodyClass += " GameList ";
}

@{ 
	Html.RenderPartial("Templates/_GameSummary");
	Html.RenderPartial("Templates/_GameDetail");
	Html.RenderPartial("Templates/_Backers");
}

<div class="settings flex" v-if="showingGameList">
	<div class="day-nav">
		<a v-bind:href="getUrlDayBefore(date)">
			<i class="fa fa-chevron-circle-left"></i>
		</a>
		<input type="text" id="calendarpicker" v-bind:value="getFriendlyDate(date)" v-bind:size="getFriendlyDate(date).length + 1" />
		<i class="fa fa-calendar" aria-hidden="true"></i>
		<a v-bind:href="getUrlDayAfter(date)">
			<i class="fa fa-chevron-circle-right"></i>
		</a>
	</div>

	<div class="tools flex">
		<select id="favorite-team" v-on:change="setFavoriteTeam">
			<option>- Select Favorite Team -</option>
			
			<option v-for="(teamName, teamCode) in teams" v-bind:value="teamCode" v-bind:selected="isFavoriteTeam(teamCode)">{{teamName}}</option>
		</select>
		<div class="hide-scores">
			<input type="checkbox" id="scoreshidden" v-on:change="onChangeHideScores" v-bind:checked="hideScores" />
			<label for="scoreshidden">Hide Scores</label>
		</div>
	</div>
</div>


<div class="game-list">
	<template v-if="gameSummaries && gameSummaries.length > 0">
		<game-summary v-for="game in gameSummaries" v-bind:game="game">

		</game-summary>
	</template>
	<template v-else-if="showNoGames()">
		<div class="empty">
			No games found for this day
		</div>
	</template>
</div>


<div class="highlights">
	<div class="highlight-game-summary" v-if="gameSummary">

		<div class="team home">
			<a class="team-logo-large away-logo" v-if="gameSummary" v-bind:class="gameSummary.home_file_code" href="/backers"></a>
			<a class="backers" href="/backers">
				{{getTeamSponsors(gameSummary.home_file_code)}}
			</a>
		</div>

		<game-summary v-if="gameSummary" v-bind:game="gameSummary"></game-summary>
		
		<div class="team away">
			<a class="team-logo-large home-logo" v-if="gameSummary" v-bind:class="gameSummary.away_file_code" href="/backers"></a>
			<a class="backers" href="/backers">
				{{getTeamSponsors(gameSummary.away_file_code)}}
			</a>
		</div>

	</div>

	<template v-if="highlights && highlights.length > 0">
		<highlight v-for="highlight in highlights" v-bind:highlight="highlight">

		</highlight>
	</template>

	<template v-else-if="showNoHighlights()">
		<div class="empty">
			No highlights found for this game. Highlights for some games may not be published until the game is complete.
		</div>
	</template>
</div>

<div class="backers-wrapper">
	<template v-if="showBackers">
		<div class="premium-sponsors">
			<h1>
				<span>Premium Sponsors</span>

				<a class="become" href="https://www.patreon.com/bePatron?u=5206592" target="_blank">
					Become a premium sponsor
				</a>
			</h1>
			<premium-sponsor v-for="premiumSponsor in premiumSponsors" v-bind:premium-sponsor-team="premiumSponsor"></premium-sponsor>
			<span v-if="premiumSponsors.length === 0">
				No backers yet.
			</span>
		</div>
		<div class="team-sponsors">
			<h1>
				<span>Fans</span>
				
				<a class="become" href="https://www.patreon.com/bePatron?u=5206592" target="_blank">
					Become a fan backer
				</a>
			</h1>
			<table>
				<team-sponsor v-for="teamSponsor in teamSponsors" v-bind:team-sponsor-team="teamSponsor"></team-sponsor>
			</table>

			<span v-if="Object.keys(teamSponsors).length === 0">
				No premium backers yet.
			</span>
		</div>
		<div class="beer-backers">
			<h1>
				<span>Beer Backers</span>

				<a class="become" href="https://www.patreon.com/bePatron?u=5206592" target="_blank">
					Become a beer backer
				</a>
			</h1>
			<beer-backer v-for="beerBacker in beerBackers" v-bind:backer="beerBacker"></beer-backer>
			<span v-if="beerBackers.length === 0">
				No beer backers yet.
			</span>
		</div>
		<div class="backers">
			<h1>
				<span>Backers</span>

				<a class="become" href="https://www.patreon.com/bePatron?u=5206592" target="_blank">
					Become a backer
				</a>
			</h1>
			<backer v-for="backer in backers" v-bind:backer="backer"></backer>
			<span v-if="backers.length === 0">
				No backers yet.
			</span>
		</div>
	</template>
</div>