@using System.Web.Optimization

@{
	Layout = "~/Shared/Views/_Layout.cshtml";
	ViewBag.BodyClass += " GameList ";
}

@{ 
	Html.RenderPartial("Templates/_GameSummary");
	Html.RenderPartial("Templates/_GameDetail");
	Html.RenderPartial("Templates/_Backers");
}

<div class="settings flex" v-if="showingGameList">
	<div class="day-nav">
		<a v-bind:href="getUrlDayBefore(date)">
			<i class="fa fa-chevron-circle-left"></i>
		</a>
		<input type="text" id="calendarpicker" v-bind:value="getFriendlyDate(date)" v-bind:size="getFriendlyDate(date).length + 1" />
		<i class="fa fa-calendar" aria-hidden="true"></i>
		<a v-bind:href="getUrlDayAfter(date)">
			<i class="fa fa-chevron-circle-right"></i>
		</a>
	</div>

	<div class="tools flex">
		<select id="favorite-team" v-on:change="setFavoriteTeam">
			<option>- Select Favorite Team -</option>
			
			<option v-for="(teamName, teamCode) in teams" v-bind:value="teamCode" v-bind:selected="isFavoriteTeam(teamCode)">{{teamName}}</option>
		</select>
		<div class="hide-scores">
			<input type="checkbox" id="scoreshidden" v-on:change="onChangeHideScores" v-bind:checked="hideScores" />
			<label for="scoreshidden">Hide Scores</label>
		</div>
	</div>
</div>


<div class="game-list">
	<template v-if="gameSummaries && gameSummaries.length > 0">
		<game-summary v-for="game in gameSummaries" v-bind:game="game">

		</game-summary>
	</template>
	<template v-else-if="showNoGames()">
		<div class="empty">
			No games found for this day
		</div>
	</template>
</div>


<div class="highlights">
	<div class="highlight-game-summary">
		<game-summary v-if="gameSummary" v-bind:game="gameSummary">

		</game-summary>
	</div>

	<template v-if="highlights && highlights.length > 0">
		<highlight v-for="highlight in highlights" v-bind:highlight="highlight">

		</highlight>
	</template>

	<template v-else-if="showNoHighlights()">
		<div class="empty">
			No highlights found for this game. Highlights for some games may not be published until the game is complete.
		</div>
	</template>
</div>

<div class="backers">
	<h1>Backers</h1>
	<template v-if="backers && backers.length > 0">
		<backer v-for="backer in backers" v-bind:backer="backer"></backer>
	</template>
</div>