$team-colors: (
'az': #a71930, 'atl': #01487e, 'bal': #f4632a, 'bos':#c60c30, 'chc':#0e3386, 'chw':#000, 'cin':#c6011f, 'cle':#002b5c, 'col':#336, 'det':#10293f, 'mia':#000, 'hou':#072854, 'kc':#15317e, 'ana':#ce1141, 'la':#005596, 'mil':#012143, 'min':#042462, 'nym':#004685, 'nyy':#1c2841, 'oak':#00483a, 'phi':#ca1f2c, 'pit':#000, 'stl':#c41e3a, 'sdp':#1c3465, 'sf':#000, 'sea':#003166, 'tb':#00285d, 'tex':#003279, 'tor':#003da5, 'wa':#ba122b, );
$teams: az atl bal bos chc chw cin cle col det mia hou kc ana la mil min nym nyy oak phi pit stl sdp sf sea tb tex tor wa;

.team-color
{
	@each $team in $teams
	{
		&.#{$team}
		{
			color: map-get($team-colors, $team);
		}
	}
}

.team-background
{
	@each $team in $teams
	{
		&.#{$team}
		{
			background-color: map-get($team-colors, $team);
		}
	}
}