@import "_vars";

@font-face
{
	font-family: 'bebas';
	font-weight: 700;
	font-style: normal;
	src: url('/Shared/Styles/fonts/bebasneue_bold-webfont.woff2') format('woff2'), url('/Shared/Styles/fonts/bebasneue_bold-webfont.woff') format('woff');
}

@font-face
{
	font-family: 'bebas';
	font-weight: 300;
	font-style: normal;
	src: url('/Shared/Styles/fonts/bebasneue_book-webfont.woff2') format('woff2'), url('/Shared/Styles/fonts/bebasneue_book-webfont.woff') format('woff');
}

@font-face
{
	font-family: 'bebas';
	font-weight: 200;
	font-style: normal;
	src: url('/Shared/Styles/fonts/bebasneue_light-webfont.woff2') format('woff2'), url('/Shared/Styles/fonts/bebasneue_light-webfont.woff') format('woff');
}

@font-face
{
	font-family: 'bebas';
	font-weight: 400;
	font-style: normal;
	src: url('/Shared/Styles/fonts/bebasneue_regular-webfont.woff2') format('woff2'), url('/Shared/Styles/fonts/bebasneue_regular-webfont.woff') format('woff');
}

@font-face
{
	font-family: 'bebas';
	font-weight: 100;
	font-style: normal;
	src: url('/Shared/Styles/fonts/bebasneue_thin-webfont.woff2') format('woff2'), url('/Shared/Styles/fonts/bebasneue_thin-webfont.woff') format('woff');
}

html
{
	height: 100%;
}

body #body-wrapper
{
	min-height: 600px;

	opacity: 0;
}

html.ready body #body-wrapper
{
	opacity: 1;
}

header
{
	$header-height: 55px;
	position: fixed;
	z-index: 100;
	overflow: hidden;

	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	padding-bottom: 5px;

	transition: 0.25s;

	color: #fff;
	background: $color-accent;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);

	font-size: 18px;

	.header-content
	{
		display: flex;

		width: 100%;
		padding: 0 20px;

		text-align: center;
	}

	.mobile-menu-trigger
	{
		display: none;

		.r-medium &
		{
			display: flex;
			align-items: center;
			justify-content: center;

			margin-left: -1rem;
			padding: 0 1rem;

			text-align: center;
		}
	}

	.logo-link
	{
		position: relative;

		text-align: center;
		text-decoration: none;

		color: #eee;

		font-family: "bebas", sans-serif;
		font-size: 26px;
		font-weight: bold;
		line-height: 50px;

		&:hover
		{
			text-decoration: none;
		}

		.r-medium &
		{
			text-align: right;
			flex: 1 0 auto;
		}
	}

	.links
	{
		position: relative;
		display: flex;

		padding-left: 2rem;

		.r-medium &
		{
			position: fixed;
			display: block;

			top: $header-height;
			left: -100%;
			height: calc(100vh - #{$header-height});
			padding-left: 0;

			transition: 0.25s;

			background: $color-accent;

			&.open
			{
				left: 0;
			}
		}
	}

	.links a
	{
		position: relative;
		display: block;

		height: 50px;
		padding: 0 2rem;

		text-decoration: none;

		color: white;

		line-height: 50px;

		&.active,
		&:hover
		{
			color: $color-accent;
			background: white;
		}

		.r-medium &
		{
			width: 100%;

			&:after
			{
				display: none;
			}
		}
	}

	.stitch
	{
		width: 100%;
		height: 1px;

		border-bottom: 1px dashed white;

		&:after
		{
			display: block;

			width: 100%;
			height: 1px;
			margin-left: 1px;

			content: "";

			border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
		}
	}
}

select
{
	height: 20px;

	color: white;
	border: 1px solid rgba(0, 0, 0, 0.25);
	background: $color-accent;

	select option
	{
		background: rgb(206, 15, 15);
	}
}

footer
{
	padding: 20px 0;

	text-align: center;
}

.loading-spinner
{
	position: fixed;
	z-index: 999;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	transition: background 0.25s;
	pointer-events: none;

	opacity: 0;

	img
	{
		position: absolute;

		top: 50%;
		left: 50%;

		transform: translateX(-50%) translateY(-50%);
	}
}

.loading .loading-spinner
{
	pointer-events: auto;

	opacity: 1;
}

.game-summary
{
	position: relative;
	display: block;

	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;

	transition: 0.15s;
	text-decoration: none;

	color: black;
	background: #fff;

	.game-link
	{
		position: absolute;

		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
	}

	.game-link:hover
	{
		background: rgba(206, 15, 15, 0.05);
	}

	table
	{
		width: 100%;

		border-spacing: 0;

		border-collapse: collapse;

		th,
		td
		{
			padding: 6px 0;

			text-align: center;

			border: 1px solid #ddd;
		}

		tr:first-child td
		{
			background-color: #f5f5f5;
		}

		.team-info-basic,
		.status
		{
			padding-right: 7px;
			padding-left: 5px;

			text-align: left;
			white-space: nowrap;

			border-right: 3px solid #ddd;

			font-weight: bold;
			line-height: 29px;
		}

		.team-info-basic .team-name
		{
			display: inline-flex;

			width: calc(100% - 50px);
		}

		.team-info-basic .team-name .team-name-wrap
		{
			flex: 1 0;
		}

		.team-info-basic .team-name .probable-pitcher
		{
			font-weight: normal;
		}

		.runs,
		.hits,
		.errors
		{
			width: 40px;

			font-weight: bold;
		}

		.runs
		{
			border-left: 3px solid #ddd;
		}

		.inning
		{
			width: 40px;
		}
	}
}

.error
{
	text-align: center;

	font-size: 1.5em;
}

.settings
{
	margin: 1rem 0;

	.day-nav
	{
		justify-content: flex-start;

		font-size: 1.5rem;
		-ms-flex: 1 0;
		-webkit-flex: 1 0;
		flex: 1 0;
	}

	.day-nav a
	{
		margin: 0 10px;

		color: $color-accent;
	}

	.tools
	{
		align-items: center;
		justify-content: center;

		text-align: center;
	}

	.tools .hide-scores
	{
		margin-left: 20px;
	}
}

.patreon-goals
{
	width: 300px;
	margin: 20px auto 0;

	img
	{
		max-width: 100%;
		height: auto;
	}

	a
	{
		color: black;
	}

	a:hover
	{
		text-decoration: none;
	}

	p
	{
		position: absolute;

		top: 0;
		left: 0;
		width: 100%;
		margin: 0;

		text-align: center;
		white-space: nowrap;

		font-weight: bold;
		line-height: 30px;
	}

	.bar
	{
		position: relative;
		overflow: hidden;

		height: 30px;
		margin: 10px 0;

		border-radius: 15px;
		background: #eee;
	}

	.bar .width
	{
		height: 100%;

		background: #e6461a;
	}
}

@media all and (max-width: 800px)
{
	.settings
	{
		text-align: center;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.settings .day-nav
	{
		width: 100%;
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
	}

	.settings .tools
	{
		width: 100%;
	}

	.backers-wrapper h1
	{
		flex-wrap: wrap;
	}

	.backers-wrapper a
	{
		width: 100%;
	}
}

.empty
{
	position: relative;

	padding: 50px 0;

	text-align: center;
	-webkit-flex: 1 0;
	-ms-flex: 1 0;
	flex: 1 0;
}

.loading .empty
{
	display: none;
}

.team-info
{
	position: relative;

	text-decoration: none !important;

	font-family: "bebas", sans-serif;
	font-size: 3rem;
	font-weight: bold;
	//padding-left: 50px;
	flex: 1 0;

	.team-name
	{
		opacity: 0.6;
	}

	.team-logo
	{
		position: absolute;

		top: 8px;
		left: 0;
	}

	.r-mobile &
	{
		font-size: 2rem;
	}
}

#modal-disclaimer .modal
{
	width: 55rem;
	max-width: 100%;
}