.boxscore
{
	position: relative;

	width: 100%;
	margin: 2rem 0;

	font-size: 1rem;

	.teams
	{
		display: flex;
		flex-wrap: wrap;

		.team
		{
			padding-right: 0.75rem;
			flex: 1 0;
		}

		.team + .team
		{
			padding-right: 0;
			padding-left: 0.75rem;
		}
	}

	.note
	{
		margin-top: 1rem;
		margin-left: 1rem;

		font-style: italic;
	}

	.team-name
	{
		margin-bottom: 1rem;

		text-align: center;

		font-size: 2rem;
	}

	.player-list
	{
		width: 100%;

		border-collapse: collapse;

		&.pitchers
		{
			margin-top: 2rem;
		}

		.player-item
		{
			&:nth-of-type(even)
			{
				background: rgba(0, 0, 0, 0.025);
			}

			> div
			{
				padding: 0.25rem 0;
			}

			.stat[data-statid="p-st"],
			.stat[data-statid="era"]
			{
				width: 3rem;

				white-space: nowrap;
				flex: none;
			}

			.note
			{
				display: inline-block;

				margin-top: 0;

				font-style: normal;
			}

			.stat
			{
				min-width: 1rem;
				padding: 0.25rem 0;
			}
		}

		.header
		{
			font-weight: bold;
		}
	}
}

@media all and (max-width: 800px)
{
	.boxscore .teams .team
	{
		width: 100%;
		padding: 0 !important;
		flex: none;
	}

	.boxscore .teams .team + .team
	{
		margin-top: 2rem;
	}
}