@import "_vars";

.game-detail-container
{
	display: flex;

	padding-right: 33vw;
	flex-wrap: wrap;

	.r-large &
	{
		padding-left: 0;
	}
}

.game-data-tab-container
{
	flex: auto;
}

.highlight-game-summary
{
	display: flex;

	width: 100%;
	padding-top: 3rem;

	.game-link
	{
		display: none;
	}

	.team
	{
		text-align: center;

		a
		{
			&.team-logo-large
			{
				display: inline-block;

				margin-top: 10px;

				text-decoration: none;

				color: blue;
			}

			&.backers
			{
				display: block;

				width: 100%;
			}
		}
	}
}

.mode-switch-container.highlights
{
	display: none;

	margin-top: 4rem;

	text-transform: uppercase;

	.r-mobile &
	{
		display: flex;
	}
}

.game-detail-wrapper
{
	display: flex;
	justify-content: center;

	width: 100%;
}

.highlights-wrapper
{
	position: fixed;
	overflow: auto;

	top: 55px;
	right: 0;
	width: 33vw;
	height: calc(100vh - 55px);
	padding: 1rem;
	flex: auto;

	.r-large &
	{
		position: relative;
		overflow: visible;

		top: auto;
		left: auto;
		width: auto;
		height: auto;
	}

	> h2
	{
		font-size: 2rem;
		font-weight: normal;
	}

	.r-large &:not(.detail-mode-on)
	{
		display: none;
	}

	.r-large &
	{
		width: auto;
		margin-top: 2rem;
	}

	.highlight
	{
		position: relative;

		width: 50%;
		margin: 0.5rem auto 2.5rem;
		padding: 0 10px;

		font-size: 1rem;
		flex: 1 0 auto;

		.video-info
		{
			display: flex;

			a
			{
				display: flex;
				align-items: center;

				text-decoration: none !important;
				flex: 1 0;
				flex-wrap: wrap;

				.thumb
				{
					position: relative;

					width: 100%;
					height: 12rem;
					margin-right: 1rem;

					border-radius: 5px;
					background-repeat: no-repeat;
					background-position: center 25%;
					background-size: cover;
				}

				h2
				{
					margin: 0;

					text-align: left;

					font-size: 1rem;
					font-weight: 400;
					flex: 1 0;

					span.team
					{
						position: relative;
						display: block;

						top: 0;

						text-decoration: none !important;

						color: black;

						font-size: 0.75em;
						font-weight: bold;
					}
				}

				&:hover span.title
				{
					text-decoration: underline;
				}
			}
		}

		.links
		{
			margin: 0 auto;
			margin-top: 5px;

			text-align: left;
			pointer-events: none;

			opacity: 0;

			a
			{
				margin: 0 1rem 0 0;

				color: blue;
			}

			.r-mobile &
			{
				pointer-events: auto;

				opacity: 1;
			}
		}

		&:hover
		{
			.links
			{
				pointer-events: auto;

				opacity: 1;
			}
		}

		&.recap h2
		{
			opacity: 0;

			&.on
			{
				opacity: 1;
			}
		}
	}

	.special-highlights
	{
		display: flex;

		width: 100%;
		padding-top: 1rem;

		background: rgba(0, 0, 0, 0.05);
		flex-wrap: wrap;

		.highlight
		{
			margin-bottom: 0;

			.video-info a h2
			{
				font-size: 1.5rem;
			}
		}
	}

	.all-highlights
	{
		display: flex;

		width: 100%;
		padding-top: 1rem;
		flex-wrap: wrap;
	}

	.team-highlights
	{
		width: 50%;
		padding-top: 2rem;

		text-align: center;

		.highlight
		{
			width: 100%;
		}

		> h2
		{
			text-align: center;
			text-transform: uppercase;

			font-size: 2.5rem;

			.r-mobile &
			{
				display: none;
			}
		}

		.r-mobile &
		{
			display: none;

			width: 100%;

			&.on
			{
				display: block;
			}
		}
	}
}

.mode-switch-container
{
	display: none;

	width: 100%;
	margin-top: 1rem;
	align-content: center;

	.r-large &
	{
		display: flex;
	}

	.mode-switch
	{
		display: inline-flex;

		width: auto;
		margin: 0 auto;

		border: 1px solid $color-accent;
		border-radius: 5px;

		.switch-item
		{
			padding: 1rem;

			cursor: default;

			&.on
			{
				color: white;
				background: $color-accent;
			}

			&:not(.on):hover
			{
				background: rgba($color-accent, 0.25);
			}

			+ .switch-item
			{
				border-left: 1px solid $color-accent;
			}
		}
	}
}

.Game .game-summary
{
	margin-top: 30px;
	padding-right: 10px;
	padding-left: 10px;

	.game-link
	{
		display: none;
	}
}

.box-score-wrapper
{
	flex: auto;

	.r-large &:not(.detail-mode-on)
	{
		display: none;
	}
}