@import "_vars";

.game-detail-container
{
	display: flex;
	flex-wrap: wrap;
	height: 100%;

	.r-large &
	{
		padding-left: 0;
	}
}

.game-data-tab-container
{
	flex: auto;
	height: 100%;
	display: flex;

	.tabs
	{
		flex: 1;
		background: #EEE;
		padding-top: 1rem;
		height: 100%;

		.tab
		{
			padding: 1rem;

			&.on
			{
				background: #FFF;
			}
		}
	}

	.tab-contents
	{
		flex: 5;
		padding: 0 1rem;

		.tab-content
		{
			display: none;

			&.on
			{
				display: block;
			}
		}
	}
}

.mini-box-score
{
	display: flex;

	table
	{
		border-collapse: collapse;
	}

	td
	{
		line-height: 1.5rem;
		padding: 0.25rem;
		border: 1px solid #EEE;
	}

	.team-table
	{
		font-weight: bold;

		td
		{
			padding-right: 1rem;
			border-right: 0;
			white-space: nowrap;
		}
	}

	.innings-table
	{
		flex: auto;
		table-layout: fixed;

		table
		{
			width: 100%;
		}
	}

	td.single-val
	{
		min-width: 1.5rem;
		text-align: center;
	}

	.headers
	{
		font-weight: bold;
		background: #F7F7F7;
	}

	td.r,
	td.h,
	td.e
	{
		font-weight: bold;
	}
}

.highlight-game-summary
{
	display: flex;
	width: 100%;
	padding-top: 3rem;

	.game-link
	{
		display: none;
	}

	.team
	{
		text-align: center;

		a
		{
			&.team-logo-large
			{
				display: inline-block;
				margin-top: 10px;
				text-decoration: none;
				color: blue;
			}

			&.backers
			{
				display: block;
				width: 100%;
			}
		}
	}
}

.game-detail-wrapper
{
	display: flex;
	justify-content: center;

	width: 100%;
}

.highlights-container
{
	overflow: auto;
	flex: auto;

	> h2
	{
		font-size: 2rem;
		font-weight: normal;
	}

	.highlight
	{
		position: relative;
		width: 25%;
		margin: 0.5rem auto 2.5rem;
		padding: 0 10px;
		font-size: 1rem;
		flex: 1 0 auto;

		.r-large &
		{
			width: 33%;
		}

		.r-medium &
		{
			width: 50%;
		}

		.video-info
		{
			display: flex;

			a
			{
				display: flex;
				align-items: center;
				text-decoration: none !important;
				flex: 1 0;
				flex-wrap: wrap;

				.thumb
				{
					position: relative;
					width: 100%;
					height: 12rem;
					margin-right: 1rem;
					border-radius: 5px;
					background-repeat: no-repeat;
					background-position: center 25%;
					background-size: cover;
				}

				h2
				{
					margin: 0;
					text-align: left;
					font-size: 1rem;
					font-weight: 400;
					flex: 1 0;

					span.team
					{
						position: relative;
						display: block;
						top: 0;
						text-decoration: none !important;
						color: black;
						font-size: 0.75em;
						font-weight: bold;
					}
				}

				&:hover span.title
				{
					text-decoration: underline;
				}
			}
		}

		.links
		{
			margin: 0 auto;
			margin-top: 5px;
			text-align: left;
			pointer-events: none;
			opacity: 0;

			a
			{
				margin: 0 1rem 0 0;
				color: blue;
			}

			.r-mobile &
			{
				pointer-events: auto;
				opacity: 1;
			}
		}

		&:hover
		{
			.links
			{
				pointer-events: auto;
				opacity: 1;
			}
		}

		&.recap h2
		{
			opacity: 0;

			&.on
			{
				opacity: 1;
			}
		}
	}

	.special-highlights
	{
		display: flex;
		width: 100%;
		flex-wrap: wrap;

		.highlight
		{
			margin-bottom: 0;

			.video-info a h2
			{
				font-size: 1.5rem;
			}

			.video-info a .thumb
				{
				height: 18vw;
			}
		}
	}

	.all-highlights
	{
		display: flex;
		width: 100%;
		padding-top: 1rem;
		flex-wrap: wrap;
	}

	.team-highlights
	{
		width: 50%;
		padding-top: 2rem;
		text-align: center;

		.highlight
		{
			width: 100%;
		}

		> h2
		{
			text-align: center;
			text-transform: uppercase;
			font-size: 2.5rem;

			.r-mobile &
			{
				display: none;
			}
		}

		.r-mobile &
		{
			display: none;
			width: 100%;

			&.on
			{
				display: block;
			}
		}
	}
}

.Game .game-summary
{
	margin-top: 30px;
	padding-right: 10px;
	padding-left: 10px;

	.game-link
	{
		display: none;
	}
}