.news-wrapper
{
	display: flex;
	flex-wrap: wrap;

	.news-item
	{
		display: flex;

		width: 100%;
		padding-right: 2rem;
		padding-bottom: 2rem;

		a
		{
			font-weight: bold;
		}

		&:before
		{
			display: flex;
			align-items: center;
			justify-content: center;

			width: 2.25rem;
			min-width: 2.25rem;
			margin-right: 1rem;
			padding: 0.25rem;

			text-align: center;

			color: black;
			color: white;
			border-radius: 3px;
			text-shadow: 0 1px 1px black;

			font-weight: bold;
			line-height: 2.25rem;
		}

		&[data-domain*="fangraphs"]:before
		{
			content: "FG";

			background: rgba(limegreen, 0.5);
		}

		&[data-domain*="fivethirtyeight"]:before
		{
			content: "538";

			background: rgba(orange, 0.5);
		}

		&[data-domain*="si"]:before
		{
			content: "SI";

			background: rgba(#0a1529, 0.5);
		}

		&[data-domain*="espn"]:before
		{
			content: "ES";

			background: rgba(230, 0, 0, 0.5);
		}

		.r-mobile &
		{
			width: 100%;
		}
	}
}