html,
body
{
	font-size: 15px;
}

html:not(.preventBodyScrolling)
{
	overflow-y: scroll;
}

a
{
	text-decoration: none;

	color: blue;
}

a:hover
{
	text-decoration: underline;
}

body
{
	box-sizing: border-box;
	width: 100%;
	//max-width: 1400px;
	margin: 0 auto;
	padding: 60px 10px 0;

	font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Arial,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", sans-serif;
}

body *
{
	box-sizing: border-box;
}

*,
*:after,
*:before
{
	transition-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
	animation-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
}

.r-medium
{
	font-size: 14px;
}

.r-medium
{
	font-size: 12px;
}

.r-tiny
{
	font-size: 11px;
}