.team-logo
{
	display: inline-block;

	margin: 0 !important;

	text-transform: none;

	color: #c2c2c2;
}

.team-logo.ari::before
{
	background-position: 0 -32px !important;
}

.team-logo.atl::before
{
	background-position: 0 -64px !important;
}

.team-logo.bal::before
{
	background-position: 0 -96px !important;
}

.team-logo.bos::before
{
	background-position: 0 -128px !important;
}

.team-logo.chc::before
{
	background-position: 0 -160px !important;
}

.team-logo.cin::before
{
	background-position: 0 -192px !important;
}

.team-logo.cle::before
{
	background-position: 0 -224px !important;
}

.team-logo.col::before
{
	background-position: 0 -256px !important;
}

.team-logo.cws::before
{
	background-position: 0 -288px !important;
}

.team-logo.det::before
{
	background-position: 0 -320px !important;
}

.team-logo.hou::before
{
	background-position: 0 -352px !important;
}

.team-logo.kc::before
{
	background-position: 0 -384px !important;
}

.team-logo.ana::before,
.team-logo.laa::before
{
	background-position: 0 -416px !important;
}

.team-logo.la::before
{
	background-position: 0 -448px !important;
}

.team-logo.mia::before
{
	background-position: 0 -480px !important;
}

.team-logo.mil::before
{
	background-position: 0 -512px !important;
}

.team-logo.min::before
{
	background-position: 0 -543px !important;
}

.team-logo.nym::before
{
	background-position: 0 -576px !important;
}

.team-logo.nyy::before
{
	background-position: 0 -608px !important;
}

.team-logo.oak::before
{
	background-position: 0 -640px !important;
}

.team-logo.phi::before
{
	background-position: 0 -672px !important;
}

.team-logo.pit::before
{
	background-position: 0 -704px !important;
}

.team-logo.sd::before
{
	background-position: 0 -736px !important;
}

.team-logo.sea::before
{
	background-position: 0 -768px !important;
}

.team-logo.sf::before
{
	background-position: 0 -800px !important;
}

.team-logo.stl::before
{
	background-position: 0 -832px !important;
}

.team-logo.tb::before
{
	background-position: 0 -864px !important;
}

.team-logo.tex::before
{
	background-position: 0 -896px !important;
}

.team-logo.tor::before
{
	background-position: 0 -928px !important;
}

.team-logo.was::before,
.team-logo.wsh::before
{
	background-position: 0 -960px !important;
}

.team-logo.al::before
{
	background-position: 0 -1090px !important;
}

.team-logo.nl::before
{
	background-position: 0 -1122px !important;
}

.team-logo.dark
{
	color: #000;
}

.team-logo.dark.ari::before
{
	background-position: -32px -32px !important;
}

.team-logo.dark.atl::before
{
	background-position: -32px -64px !important;
}

.team-logo.dark.bal::before
{
	background-position: -32px -96px !important;
}

.team-logo.dark.bos::before
{
	background-position: -32px -128px !important;
}

.team-logo.dark.chc::before
{
	background-position: -32px -160px !important;
}

.team-logo.dark.cin::before
{
	background-position: -32px -192px !important;
}

.team-logo.dark.cle::before
{
	background-position: -32px -224px !important;
}

.team-logo.dark.col::before
{
	background-position: -32px -256px !important;
}

.team-logo.dark.cws::before
{
	background-position: -32px -288px !important;
}

.team-logo.dark.det::before
{
	background-position: -32px -320px !important;
}

.team-logo.dark.hou::before
{
	background-position: -32px -352px !important;
}

.team-logo.dark.kc::before
{
	background-position: -32px -384px !important;
}

.team-logo.dark.ana::before,
.team-logo.dark.laa::before
{
	background-position: -32px -416px !important;
}

.team-logo.dark.la::before
{
	background-position: -32px -448px !important;
}

.team-logo.dark.mia::before
{
	background-position: -32px -480px !important;
}

.team-logo.dark.mil::before
{
	background-position: -32px -512px !important;
}

.team-logo.dark.min::before
{
	background-position: -32px -543px !important;
}

.team-logo.dark.nym::before
{
	background-position: -32px -576px !important;
}

.team-logo.dark.nyy::before
{
	background-position: -32px -608px !important;
}

.team-logo.dark.oak::before
{
	background-position: -32px -640px !important;
}

.team-logo.dark.phi::before
{
	background-position: -32px -672px !important;
}

.team-logo.dark.pit::before
{
	background-position: -32px -704px !important;
}

.team-logo.dark.sd::before
{
	background-position: -32px -736px !important;
}

.team-logo.dark.sea::before
{
	background-position: -32px -768px !important;
}

.team-logo.dark.sf::before
{
	background-position: -32px -800px !important;
}

.team-logo.dark.stl::before
{
	background-position: -32px -832px !important;
}

.team-logo.dark.tb::before
{
	background-position: -32px -864px !important;
}

.team-logo.dark.tex::before
{
	background-position: -32px -896px !important;
}

.team-logo.dark.tor::before
{
	background-position: -32px -928px !important;
}

.team-logo.dark.was::before,
.team-logo.dark.wsh::before
{
	background-position: -32px -960px !important;
}

.team-logo::before
{
	display: inline-block;

	width: 32px;
	height: 32px;
	margin-right: 5px;

	content: "";
	vertical-align: middle;

	background: url(/images/team_logos.png) no-repeat 0 0;
	background-position: -32px 0 !important;
	background-size: 64px auto;
}

.team-logo-large
{
	position: relative;
	display: block;

	width: 135px;
	height: 135px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.team-logo-large.al
{
	background-image: url('/images/logos/al.gif');
}

.team-logo-large.ari
{
	background-image: url('/images/logos/ari.png');
}

.team-logo-large.atl
{
	background-image: url('/images/logos/atl.png');
}

.team-logo-large.bal
{
	background-image: url('/images/logos/bal.png');
}

.team-logo-large.bos
{
	background-image: url('/images/logos/bos.png');
}

.team-logo-large.chc
{
	background-image: url('/images/logos/chc.png');
}

.team-logo-large.chw
{
	background-image: url('/images/logos/chw.png');
}

.team-logo-large.cin
{
	background-image: url('/images/logos/cin.png');
}

.team-logo-large.cle
{
	background-image: url('/images/logos/cle.png');
}

.team-logo-large.col
{
	background-image: url('/images/logos/col.png');
}

.team-logo-large.det
{
	background-image: url('/images/logos/det.png');
}

.team-logo-large.hou
{
	background-image: url('/images/logos/hou.png');
}

.team-logo-large.kc
{
	background-image: url('/images/logos/kc.png');
}

.team-logo-large.ana
{
	background-image: url('/images/logos/laa.png');
}

.team-logo-large.la
{
	background-image: url('/images/logos/lad.png');
}

.team-logo-large.mia
{
	background-image: url('/images/logos/mia.png');
}

.team-logo-large.mil
{
	background-image: url('/images/logos/mil.png');
}

.team-logo-large.min
{
	background-image: url('/images/logos/min.png');
}

.team-logo-large.nl
{
	background-image: url('/images/logos/nl.gif');
}

.team-logo-large.nym
{
	background-image: url('/images/logos/nym.png');
}

.team-logo-large.nyy
{
	background-image: url('/images/logos/nyy.png');
}

.team-logo-large.oak
{
	background-image: url('/images/logos/oak.png');
}

.team-logo-large.phi
{
	background-image: url('/images/logos/phi.gif');
}

.team-logo-large.pit
{
	background-image: url('/images/logos/pit.png');
}

.team-logo-large.sd
{
	background-image: url('/images/logos/sd.png');
}

.team-logo-large.sea
{
	background-image: url('/images/logos/sea.png');
}

.team-logo-large.sf
{
	background-image: url('/images/logos/sf.png');
}

.team-logo-large.stl
{
	background-image: url('/images/logos/stl.gif');
}

.team-logo-large.tb
{
	background-image: url('/images/logos/tb.gif');
}

.team-logo-large.tex
{
	background-image: url('/images/logos/tex.png');
}

.team-logo-large.tor
{
	background-image: url('/images/logos/tor.png');
}

.team-logo-large.was
{
	background-image: url('/images/logos/was.png');
}

@media all and (max-width: 800px)
{
	.team-logo-large
	{
		width: 70px;
		height: 70px;
	}
}