<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'MlbDataServer' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>abee0b29-ba71-4d28-badf-f0fc2e12e0e5</InstrumentationKey>
</ApplicationInsights>