.game-summary
{
	padding-bottom: 30px;
}

.day-nav
{
	margin-bottom: 30px;

	font-size: 1.5rem;
	text-align: center;

	a
	{
		margin: 0 10px;

		color: #ce0f0f;
	}
}

.game-link
{
	display: block;
	
	text-decoration: none;
	background: #FFF;
	color: black;

	transition: 0.15s;

	&:hover
	{
		background: rgba(206, 15, 15, 0.05);
	}

	table
	{
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;

		th, td
		{
			padding: 6px 0;
			border: 1px solid #DDD;
			text-align: center;
		}

		.team-info, .status
		{
			padding-left: 5px;
			padding-right: 7px;
			
			border-right: 3px solid #DDD;
			
			text-align: left;
			font-weight: bold;
			line-height: 29px;
		}

		.team-info
		{
			.team-name
			{
				display: inline-block;
			}
		}

		.runs, .hits, .errors
		{
			font-weight: bold;
			width: 40px;
		}

		.runs
		{
			border-left: 3px solid #DDD;
		}

		.inning
		{
			width: 40px;
		}
	}

	.error
	{
		text-align: center;
		font-size: 1.5em;
	}
}

@media all and (max-width: 960px){
	.team-name{
		display: none !important;
	}
}