@import "../_Base/_vars.scss";

.game-detail-container
{
	display: flex;
	flex-wrap: wrap;
	height: 100%;

	.r-large &
	{
		padding-left: 0;
	}
	
	.ant-list-item{
		padding: 0;
	}
}

.game-detail-wrapper
{
	display: flex;
	justify-content: center;

	width: 100%;
}


.Game .game-summary
{
	margin-top: 30px;
	padding-right: 10px;
	padding-left: 10px;

	.game-link
	{
		display: none;
	}
}