@import "../_Base/vars";

[data-tab="Live"]
{
	.count
	{
		.balls, .strikes
		{
			display: flex;
		}

		.ball, .strike
		{
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background: gray;
		}

		.ball.on
		{
			background: $color-ball;
		}

		.strike.on
		{
			background: $color-strike;
		}
	}

	.live-innings
	{
		h3
		{
			margin-top: 2rem;
		}

		.pitch-data-wrapper
		{
			margin: auto;
			max-width: 500px;
		}
	}

	.current-inning
	{
		.live-innings
		{
			h3
			{
				margin-top: 0;
			}
		}
	}

	.all-innings
	{
		.r-medium &
		{
			margin-top: 3rem;
			border-top: 2rem solid #EEEEEE;
			padding-top: 1rem;
		}
	}
}