.highlights
{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.highlight
{
	width: 50%;
	margin: 15px auto 45px;
	padding: 0 10px;
}

	.highlight h2
	{
		font-size: 1.5rem;
		margin-bottom: 0;
	}

	.highlight video
	{
		width: 100%;
		height: auto;
		background-size: cover;
	}

@media all and (max-width: 1200px)
{
	.highlight
	{
		width: 75%;
	}
}

@media all and (max-width: 800px)
{
	.highlight
	{
		width: 100%;
	}
}