html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html{
	overflow-y: scroll;
}

h1{
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

h2
{
	font-weight: bold;
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

h3
{
	font-weight: bold;
	font-size: 1.15rem;
	margin-bottom: 1rem;
}

html,
body
{
	font-size: 15px;
}

html:not(.preventBodyScrolling)
{
}

a
{
	text-decoration: none;

	color: blue;
}

a:hover
{
	text-decoration: underline;
}

body
{
	box-sizing: border-box;
	width: 100%;
	//max-width: 1400px;
	margin: 0 auto;

	font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Arial,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", sans-serif;
}

body *
{
	box-sizing: border-box;
}

*,
*:after,
*:before
{
	transition-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
	animation-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
}

.r-medium
{
	font-size: 14px;
}

.r-medium
{
	font-size: 13px;
}

.r-tiny
{
	font-size: 12px;
}