@import "../_Base/_vars.scss";

.game-data-tab-container
{
	flex: auto;
	height: 100%;
	display: flex;

	.tabs
	{
		flex: 1;
		height: 100%;

		.tab
		{
			position: relative;
			padding: 1rem;
			cursor: pointer;
			transition: 0.25s;
			display: block;
			color: black;
			text-decoration: none;

			span
			{
				position: relative;
				display: block;
				z-index: 2;
				transition: 0.5s;
			}

			&:after
			{
				content: "";
				z-index: 1;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 0;
				background: white;
				transition: 0.25s;
			}

			&.on
			{
				border-left: 3px solid $color-accent;

				&:after
				{
					width: 100%;
				}

				span
				{
					color: $color-accent;
					font-weight: bold;
					transform: translateX(15px);
				}
			}

			&:not(.on):hover
			{
				background: $color-basic-accent;
			}
		}
	}

	.tab-contents
	{
		flex: 5;
		padding: 0 1rem;

		.tab-content
		{
			display: none;

			&.on
			{
				display: block;
			}
		}
	}
}
