@{
	var description = ViewBag.Description ?? "Video highlights for all baseball games!";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Baseball Theater</title>
	<base href="~/" />

	@Html.Partial("_favicons")
	<meta name="theme-color" content="#9e1414">
	<meta name="Description" content="@description" />

	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">


	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<environment exclude="Development">
	</environment>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" asp-append-version="true"></script>
<% } %>
</body>
</html>
