
<div class="patreon-goals">
	@*<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
		<script type='text/javascript'>kofiwidget2.init('Buy Me a Beer', '#ee4f4f', 'A76217J'); kofiwidget2.draw();</script>*@
		
	<a href="https://www.patreon.com/jakelauer" target="_blank">
		<img src="~/images/patreon2.png" />
		<br/>
		<div class="goals-text">
			<div class="bar">
				<div class="width" style="width: 0%">
					<p>Goal #2</p>
				</div>
			</div>
			<div class="goal-summary">
			When we reach this goal, I can start working on more features for the web, like expanded box scores and more live info. 
			</div>
		</div>
	</a>
</div>