
<div class="patreon-goals">
	@*<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
		<script type='text/javascript'>kofiwidget2.init('Buy Me a Beer', '#ee4f4f', 'A76217J'); kofiwidget2.draw();</script>*@
		
	<a href="https://www.patreon.com/jakelauer" target="_blank">
		<img src="~/images/patreon2.png" />
		<br/>
		<div class="goals-text">
			<div class="bar">
				<div class="width" style="width: 30%">
					<p>Goal: $40</p>
				</div>
			</div>
			<div class="goal-summary">When we reach this goal, we will pay for monthly hosting costs, and can hold a monthly raffle for backers</div>
		</div>
	</a>
</div>