@import "../../../styles/vars";
@import "../../../styles/teamcolors";

.miniBoxScore
{
	display: flex;
	width: 100vw;
	max-width: 900px;
	align-items: center;
	justify-content: center;
	padding: 1em 0;
	font-size: 0.8rem;

	table
	{
		border-collapse: collapse;
	}

	td
	{
		line-height: 1em;
		padding: 0.5vw;
		border: 1px solid $color-basic-background;
	}

	td.r,
	td.h,
	td.e
	{
		font-weight: bold;
	}

	.r-medium &
	{
		margin-bottom: 1em;
	}
}

.teamTable
{
	font-weight: bold;

	td
	{
		padding-right: 1em;
		border-right: 0;
		white-space: nowrap;
	}
}

.inningsTable
{
	flex: auto;
	table-layout: fixed;

	table
	{
		width: 100%;
	}
}

td.singleVal
{
	text-align: center;
}

.headers
{
	font-weight: bold;
	background: #F7F7F7;
}
