<template id="backer">
	<div class="backer">
		{{backer}}
	</div>
</template>

<template id="beer-backer">
	<div class="backer">
		<i class="fa fa-beer" aria-hidden="true"></i> {{backer}}
	</div>
</template>

<template id="team-sponsor">
	<div class="team-sponsor-team" v-bind:class="{ 'has-fans' : getTeamSponsorsCount(teamSponsorTeam.team) > 0}">
		<div v-if="teamSponsorTeam.backers.length === 0">
			No fans
		</div>
		<div v-else>
			<h3>				
				{{getTeamSponsors(teamSponsorTeam.team)}}
			</h3>
			<template v-for="teamSponsorBacker in teamSponsorTeam.backers">
				<span>{{teamSponsorBacker}}</span>
			</template>
		</div>
		<a class="team-logo-large" v-bind:class="getTeamCode(teamSponsorTeam.team)" href="https://www.patreon.com/bePatron?u=5206592" target="_blank">
		</a>
	</div>
</template>

<template id="premium-sponsor">
	<div class="backer">
		<template v-for="premiumSponsorBacker in premiumSponsorTeam.backers">
			{{premiumSponsorBacker.backerName}}
		</template>
	</div>
</template>