<template id="team-sponsor">
	<a class="team-sponsor-team"
	   v-bind:class="{ 'has-fans' : getTeamSponsorsCount(teamSponsorTeam.team) > 0 }"
	   v-bind:data-team-code="teamSponsorTeam.team"
	   href="https://www.patreon.com/bePatron?u=5206592"
	   target="_blank">
		
		<div class="team-logo dark" v-bind:class="getTeamCode(teamSponsorTeam.team)">
		</div>
		<div class="fan-column">
			<div v-if="teamSponsorTeam.backers.length === 0">
				No fans
			</div>
			<div v-else>
				<h3>
					{{getTeamSponsors(teamSponsorTeam.team)}}
				</h3>
				<template v-for="backer in teamSponsorTeam.backers">
					<div>
						<i class="fa fa-star" aria-hidden="true" v-if="backer.isStarBacker"></i> 
						<i class="fa fa-beer" aria-hidden="true" v-if="backer.isBeerBacker"></i>
						{{backer.backerName}}
					</div>
				</template>
			</div>
		</div>

	</a>
</template>

<template id="premium-sponsor">
	<div class="backer">
		<a v-bind:href="premiumSponsor.url" v-if="premiumSponsor.url" target="_blank">
			<img v-if="premiumSponsor.logo" v-bind:src="premiumSponsor.logo"/>
			<span v-else>{{premiumSponsor.backerName}}</span>
		</a>
		<div v-else>{{premiumSponsor.backerName}}</div>
	</div>
</template>