<template id="backer">
	<div class="backer">
		{{backer}}
	</div>
</template>

<template id="beer-backer">
	<div class="backer">
		<i class="fa fa-beer" aria-hidden="true"></i> {{backer}}
	</div>
</template>

<template id="team-sponsor">
	<div class="team-sponsor-team">
		<a class="team-logo-large" v-bind:class="getTeamCode(teamSponsorTeam.team)" href="https://www.patreon.com/bePatron?u=5206592" target="_blank">
		</a>
		<div v-if="teamSponsorTeam.backers.length === 0">
			No backers
		</div>
		<div v-else>
			<template v-for="teamSponsorBacker in teamSponsorTeam.backers">
				{{teamSponsorBacker}}
			</template>
		</div>
	</div>
</template>

<template id="premium-sponsor">
	<div class="backer">
		<template v-for="premiumSponsorBacker in premiumSponsorTeam.backers">
			{{premiumSponsorBacker.backerName}}
		</template>
	</div>
</template>