

<template id="boxscore">
	<div class="boxscore" v-bind:data-homecode="boxScore.home_team_code" v-bind:data-awaycode="boxScore.away_team_code">
		<div class="teams">
			<div class="team away">
				<div class="team-name">{{boxScore.away_fname}}</div>
				<table class="player-list batters">
					@BatterHeaders()
					<tr is="batter" v-for="batter in boxScore.batting_away.batter" v-bind:batter="batter"></tr>
				</table>
				<div class="note" v-html="boxScore.batting_away.note"></div>
				<table class="player-list pitchers">
					@PitcherHeaders()
					<tr is="pitcher" v-for="pitcher in boxScore.pitching_away.pitcher" v-bind:pitcher="pitcher"></tr>
				</table>
				<div class="note" v-html="boxScore.pitching_away.note"></div>
			</div>
			<div class="team home">
				<div class="team-name">{{boxScore.home_fname}}</div>
				<table class="player-list batters">
					@BatterHeaders()
					<tr is="batter" v-for="batter in boxScore.batting_home.batter" v-bind:batter="batter"></tr>
				</table>
				<div class="note" v-html="boxScore.batting_home.note"></div>
				<table class="player-list pitchers">
					@PitcherHeaders()
					<tr is="pitcher" v-for="pitcher in boxScore.pitching_home.pitcher" v-bind:pitcher="pitcher"></tr>
				</table>
				<div class="note" v-html="boxScore.pitching_home.note"></div>
			</div>
		</div>
	</div>
</template>

<template id="batter">
	<tr class="player-item batter-item">
		<td class="player-name"><span class="note" v-if="batter.note">{{batter.note}}</span> {{batter.name}} ({{batter.pos}})</td>
		<td class="stat" data-statid="ab">{{batter.ab}}</td>
		<td class="stat" data-statid="r">{{batter.r}}</td>
		<td class="stat" data-statid="h">{{batter.h}}</td>
		<td class="stat" data-statid="rbi">{{batter.rbi}}</td>
		<td class="stat" data-statid="bb">{{batter.bb}}</td>
		<td class="stat" data-statid="so">{{batter.so}}</td>
		<td class="stat" data-statid="avg">{{batter.avg}}</td>
		<td class="stat" data-statid="obp">{{batter.obp}}</td>
		<td class="stat" data-statid="slg">{{batter.slg}}</td>
	</tr>
</template>


<template id="pitcher">
	<tr class="player-item pitcher-item">
		<td class="player-name">{{pitcher.name}} <span v-if="pitcher.note">{{pitcher.note}}</span></td>
		<td class="stat" data-statid="ip">{{getIP(pitcher.out)}}</td>
		<td class="stat" data-statid="h">{{pitcher.h}}</td>
		<td class="stat" data-statid="r">{{pitcher.r}}</td>
		<td class="stat" data-statid="er">{{pitcher.er}}</td>
		<td class="stat" data-statid="bb">{{pitcher.bb}}</td>
		<td class="stat" data-statid="so">{{pitcher.so}}</td>
		<td class="stat" data-statid="hr">{{pitcher.hr}}</td>
		<td class="stat" data-statid="p-st">{{pitcher.np}}-{{pitcher.s}}</td>
		<td class="stat" data-statid="era">{{pitcher.era}}</td>
	</tr>
</template>

@helper BatterHeaders()
{
	<tr class="player-item batter-item header">
		<td class="player-name">Player (Position)</td>
		<td class="stat" data-statid="ab">AB</td>
		<td class="stat" data-statid="r">R</td>
		<td class="stat" data-statid="h">H</td>
		<td class="stat" data-statid="rbi">RBI</td>
		<td class="stat" data-statid="bb">BB</td>
		<td class="stat" data-statid="so">SO</td>
		<td class="stat" data-statid="avg">AVG</td>
		<td class="stat" data-statid="obp">OBP</td>
		<td class="stat" data-statid="slg">SLG</td>
	</tr>
}

@helper PitcherHeaders()
{
	<tr class="player-item batter-item header">
		<td class="player-name">Pitcher (Position)</td>
		<td class="stat" data-statid="ip">IP</td>
		<td class="stat" data-statid="h">H</td>
		<td class="stat" data-statid="r">R</td>
		<td class="stat" data-statid="er">ER</td>
		<td class="stat" data-statid="bb">BB</td>
		<td class="stat" data-statid="so">K</td>
		<td class="stat" data-statid="hr">HR</td>
		<td class="stat" data-statid="p-st">P-ST</td>
		<td class="stat" data-statid="era">ERA</td>
	</tr>
}