@using BaseballTheater.Areas.Game.Models

@model GameModel

@{
	Layout = "~/Shared/Views/_Layout.cshtml";

	if (Model.GameSummary != null)
	{
		ViewBag.Title = Model.GameSummary.AwayTeamName + " @ " + Model.GameSummary.HomeTeamName + " - " + Model.Date.ToString("MMMM d, yyyy");
	}
}

<link href='~/Areas/Game/Styles/game.css' rel='stylesheet' type='text/css'>

@if (Model.HighlightsCollection != null)
{
	foreach (var highlight in Model.HighlightsCollection.Highlights)
	{
		<div class="highlight">
			<h2>@highlight.Headline - @highlight.Duration</h2>
			<div class="video">
				@if (highlight.Urls != null)
				{
					foreach (var url in highlight.Urls)
					{
						var thumbnail = highlight.Thumbs.LastOrDefault() ?? highlight.Thumb;

						<video src="@url" controls preload="none" style="background-image: url(@thumbnail)"></video>
					}
				}
				else
				{
					<p>Oops, MLB messed up and there's no video file. <a href="http://m.mlb.com/video/v@(highlight.Id)" target="_blank">See?</a> Broken.</p>
				}
			</div>
		</div>
	}
}
else
{
	<p class="error">No highlights found for this game</p>
}