<template id="highlight">
	<div class="highlight">
		<div class="video-info">
			<a v-bind:href="getMlbLink(highlight)" target="_blank">
				<div class="thumb" v-bind:style="{ backgroundImage: 'url(' + getDefaultThumb(highlight) + ')' }">

				</div>
				<h2 v-html="getTitle(highlight)"></h2>
			</a>
		</div>
		<div class="links">
			<a v-for="link in getLinks(highlight)" v-bind:href="link.url">{{link.label}}</a>
		</div>

	</div>
</template>