.gameLink
{
	text-decoration: none;
	color: black;
}

.progress
{
	margin: 0 auto;
}

.gameSummaries
{
	padding-left: 32px;
}

.gameSummary
{
	position: relative;
	display: flex;
	cursor: pointer;
	text-decoration: none;
	flex-direction: column;
	height: 100%;
}

.gameLink
{
	display: flex;
}

.playback
{
	display: flex;
	padding: 8px;

	.playbackButton
	{
		flex: 1 0;
	}
}

.specialHighlights
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem auto;
	justify-content: center;
	font-size: 0.7rem;
	white-space: nowrap;
}

.buttonGroup
{
	display: flex;
	width: 50vw;

	:global(.r-large) &
	{
		width: 65vw;
	}

	:global(.r-medium) &
	{
		width: 65vw;
	}

	:global(.r-small) &
	{
		width: 100%;
		flex-wrap: wrap;
	}

	> a
	{
		flex: 1 0;

		:global(.r-small) &
		{
			flex: none;
			width: 33%;
			border: 1px solid #ccc;
			border-radius: 0;
			margin: 0;
		}
	}
}